<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{#if nextPage}}<link href="{{nextPage.url}}" rel="prefetch" />{{/if}}

</head>
<body class="{{body_class}}">

    <header id="site-head">
        {{#if logo}}<a id="blog-logo" href="{{url}}"><div class="bloglogo" style="background: url({{logo}})"></div></a>{{/if}}
        <h1 class="blog-title"><a href="{{url}}">{{name}}</a></h1>
        {{> header-description}}
        {{!> menu}}

    </header>

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
            {{!> footer-description}}
            <section class="copyright">&copy; {{dateFormat "2015" "YYYY"}} <a href="/">{{name}}</a>. All rights reserved.</section>
            <section>Vapor theme by <a href="http://sethlilly.com/">Seth Lilly</a></section>
            <section class="poweredby">Proudly published with Wintersmith</section>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" />
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
